.all-cta-div {
  width: 100%;
  padding: 180px 0px 20px 60px;
}

.h1-cta {
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 30px;
}

.p-cta {
  max-width: 600px;
  font-size: 20px;
  font-size: 'Open Sans';
}
