:root {
  .light {
    --font-size: 16px;

    --h1-font-size: 50px;
    --h2-font-size: 40px;
    --h3-font-size: 30px;

    --h-color: #000000;
    --font-color: #514B4B;

    --primary-color: #E21022;
    --secondary-color: #514B4B;

    --primary-bg-color: #FFFFFF;
    --secondary-bg-color: #d5d5d5;

    --selection-bg-color: #514B4B;
    --selection-font-color: #FFFFFF;

    --dimmed-border-placeholder: #A0A0A0;

    --footer-bg--color: #292827;
    --footer-font-color: #FFFFFF;

    --primary-btn-bg-color: var(--primary-color);
    --secondary-btn-bg-color: var(--secondary-color);

    --traffic-light-bg-green: #B0FF9C;
    --traffic-light-bg-green-light: #DDFFD5;
    --traffic-light-font-color-green: #48A500;

    --traffic-light-bg-red: #FF9C9C;
    --traffic-light-bg-red-light: #FFDBDB;
    --traffic-light-font-color-red: #A50000;

    --traffic-light-bg-yellow: #FFE39C;
    --traffic-light-bg-yellow-light: #FFF3D2;
    --traffic-light-font-color-yellow: #A57700;

    --shadow: 0px 4px 40px rgba(0, 0, 0, 0.2);
    --shadow-border: 0px 0px 3px var(--font-color);

    --transition-menu-close: transform .6s, opacity .1s, background-color .1s, z-index .6s;
    --transition-menu-open: transform .3s, opacity .5s, background-color .5s, z-index .1s;
    --transition: all .3s;

    --border-radius: 10px;

    transition: var(--transition);

  }

  .dark {
    --font-size: 16px;

    --h1-font-size: 50px;
    --h2-font-size: 40px;
    --h3-font-size: 30px;

    --h-color: #ffffff;
    --font-color: #f0ebeb;

    --primary-color: #E21022;
    --secondary-color: #514B4B;

    --primary-bg-color: #292827;
    --secondary-bg-color: #545250;

    --selection-bg-color: var(--secondary-bg-color);
    --selection-font-color: #FFFFFF;

    --dimmed-border-placeholder: #A0A0A0;

    --footer-bg--color: #292827;
    --footer-font-color: #FFFFFF;

    --primary-btn-bg-color: var(--primary-color);
    --secondary-btn-bg-color: var(--secondary-color);

    --traffic-light-bg-green: #B0FF9C;
    --traffic-light-bg-green-light: #DDFFD5;
    --traffic-light-font-color-green: #48A500;

    --traffic-light-bg-red: #FF9C9C;
    --traffic-light-bg-red-light: #FFDBDB;
    --traffic-light-font-color-red: #A50000;

    --traffic-light-bg-yellow: #FFE39C;
    --traffic-light-bg-yellow-light: #FFF3D2;
    --traffic-light-font-color-yellow: #A57700;

    --shadow: 0px 4px 40px rgba(255, 255, 255, 0.2);
    --shadow-border: 0px 0px 3px var(--font-color);

    --transition-menu-close: transform .6s, opacity .1s, background-color .1s, z-index .6s;
    --transition-menu-open: transform .3s, opacity .5s, background-color .5s, z-index .1s;
    --transition: all .3s;

    --border-radius: 10px;

    transition: var(--transition);
  }
}