:root {
  --desktop: 1600px;
  --notebook: 1280px;
  --tablet: 900px;
  --mobile: 600px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  font-family: "Droid Sans", "Arial", sans-serif;
  font-weight: 400;
  font-style: normal;
  list-style: none;
  min-height: 100vh;
  background-color: var(--primary-bg-color);
  font-size: var(--font-size);
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}