@import './vars.scss';

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  position: relative;
  font-family: "Droid Sans", "Arial", sans-serif;
  font-weight: 400;
  font-style: normal;
  list-style: none;
  min-height: 100vh;
  font-size: var(--font-size);
  transition: var(--transition);
  background: var(--body-bg);
  background-size: cover;
  background-position: 50% 0%;
  background-blend-mode: color-burn;
  overflow-x: hidden;
}

.base {
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-template-rows: min-content 1fr min-content;
  transition: var(--transition);
  margin: auto;
  height: 100vh;
  overflow-x: clip;
  // max-width: $desktop;
  // padding: var(--padding-desktop);

  // @media screen and (width <=$notebook) {
  //   padding: var(--padding-notebook);
  //   max-width: $notebook;
  // }

  // @media screen and (width <=$tablet) {
  //   padding: var(--padding-tablet);
  //   max-width: $tablet;
  // }

  @media screen and (width <=$mobile) {
    overflow-x: hidden;
  }
}


h1,
h2,
h3 {
  font-family: Baloo, "Arial", sans-serif;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}