*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  // position: relative;
  display: grid;
  grid-template-rows: auto 1fr auto;
  font-family: "Droid Sans", "Arial", sans-serif;
  font-weight: 400;
  font-style: normal;
  list-style: none;
  min-height: 100vh;
  background: #ffffff;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.text-light-theme {
  color: #514B4B;
}

.text-darck-theme {
  color: #FFFFFF;
}
