.all-div {
  height: 100%;
}

.main-cabinet {
  grid-area: main;
  padding: 60px 60px;

  @media screen and (max-width: 430px) {
    padding: 40px 10px;
  }
}

.h1-cabinet {
  font-size: 42px;
  margin-bottom: 40px;
}

.light-theme {
  color: #514B4B;
  font-weight: 700;
  font-family: 'Open Sans';
  background: url('../assets/img/bg-light404.png');
  background-size: cover;
}

.darck-theme {
  color: #FFFFFF;
  font-weight: 700;
  font-family: 'Open Sans';
  background: url('../assets/img/bg-darck404.png');
  background-size: cover;
}

.best-first-section {
  display: flex;
  margin-bottom: 60px;
}

.h2-awards {
  font-size: 27px;
  font-weight: 700;
  margin-right: 200px;
}

.awaards-section {
  display: flex;

  @media screen and (max-width: 1400px) {
    flex-direction: column;
  }
}

.all-awards {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
