.mainpage-div {
  display: grid;
  grid-template-areas: "header" "main" "footer";
  grid-template-rows: min-content 1fr min-content;
}

.mainpage-div-light {
  background: url('../../assets/img/bg-light.webp');
  background-size: 'cover'
}

.mainpage-div-darck {
  background: url('../../assets/img/bg-dark.webp');
  background-size: 'cover'
}
