.mainpageDiv {
  background: url('../../assets/img/bg-light.webp') no-repeat var(--home-bg-color);
  background-size: cover;
  background-position: bottom right;
  background-blend-mode: color-burn;
}
