.footer-all {
  grid-area: footer;
}

.footer {
  max-width: 1600px;
  margin: auto;
  padding: 60px 80px 20px;
  font-size: 16px;
  font-family: 'Open Sans';

  @media screen and (max-width: 780px) {
    padding: 40px 60px 10px;
  }

  @media screen and (max-width: 650px) {
    padding: 40px 0px 10px;
  }

}

.footer-light {
  background: #292827;
  color: #FFFFFF;
}

.footer-darck {
  background: #EBEBEB;
  color: #514B4B;
}

.footer-container {
  display: flex;
  justify-content: space-between;

  @media screen and (max-width: 650px) {
    flex-direction: column;
    align-items: center;
  }
}

.footer-div-component {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  @media screen and (max-width: 650px) {
    align-items: center;
  }

}

.footer-div-component-right {
  align-items: flex-end;

  @media screen and (max-width: 650px) {
    align-items: center;
  }

}

.margin-after-img {
  margin-top: 44px;

  @media screen and (max-width: 780px) {
    margin-top: 30px;
  }

  @media screen and (max-width: 650px) {
    margin-top: 15px;
  }

}

.div-links-github {
  display: flex;

  @media screen and (max-width: 650px) {
    margin-bottom: 40px;
  }
}

.link-github {
  font-weight: 700;
  margin-right: 30px;

  &:active {
    color: #fff;
  }

}
